.home {
  width: 100vw;
  position: relative;
  background-image: linear-gradient(to bottom, #1D2B1B, #4C6F2A); /* Even darker leafy green to yellowish gradient */
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.swiper {
  width: 100%;
  max-width: 1200px;
  position: relative;
}
