@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');

:root {
  --white: #fff;
  --grey: #eee;
  --light-color: #666;
  --black: #192a56;
  --green: #27ae60;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --transition: all 0.2s linear;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;

  @media screen and (max-width: 991px) {
    font-size: 55%;
  }

  @media screen and (max-width: 450px) {
    font-size: 50%;
  }
}

section {
  padding: 2rem;

  @media screen and (max-width: 991px) {
    padding: 2rem;
  }
}

.button {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: var(--white);
  background: var(--black);
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem;
  transition: var(--transition);

  &:hover {
    background: var(--green);
    letter-spacing: 0.1rem;
  }
}

.heading {
  text-align: center;
  color: #FFA500;
  font-size: 3.5rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  transition: var(--transition);
}

.sub-heading {
  text-align: center;
  color: #FFA500;
  font-size: 2.5rem;
  padding-top: 1rem;
  transition: var(--transition);
}

.swiper {
  width: 100%;
  max-width: 1200px;
  position: relative;
}

.swiper-pagination {
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
}

.swiper-pagination-bullet-active {
  background: #FFA500;
}

// Swiper Navigation Styles
.swiper-button-prev,
.swiper-button-next {
  width: 4rem;
  height: 4rem;
  background: #4A603E;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  color: #FFA500;
  transition: var(--transition);
  bottom: 0rem;
  top: auto;
  border: 0.1rem solid #FFA500;

  &:hover {
    background: #FFA500;
    color: #1A5319;
  }

  &::after {
    font-size: 1.6rem;
    color: #FFA500;
    font-weight: 900;
  }
}

.swiper-button-prev {
  left: calc(50% - 15rem);
}

.swiper-button-next {
  right: calc(50% - 15rem);
}

.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 4rem;
    height: 4rem;

    &::after {
      font-size: 1.6rem;
      color: #1A5319;
      font-weight: 900;
    }
  }

  .swiper-button-prev {
    left: 1rem;
  }

  .swiper-button-next {
    right: 1rem;
  }
}
